nav{
    display: flex;
    justify-content: space-around;
    padding: 20px 25px 1px 20px;
    box-sizing:content-box;
    background-color: rgba(82, 113, 255);
    color: white;
    align-content:center;
    align-items: center;
}

.navLink{
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.image{
    width: 140px;
    height: 90px;
    margin-top: -15px;
    margin-bottom: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.iconButton{
    background: none;
    border: none;
}

button:active{
    outline: 0;
    transform: translateY(3px);
}