.custom-label {
    font-weight: bold;
    margin-bottom: 5px;
    padding-right: 10px;
    font-size: 9px;
  }
  .custom-select {
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    /* border: 1px solid #ced4da; */
    border-radius: .25rem;
    text-align: center;
  }

  .filtros{
    background-color: rgb(94, 94, 94);
    color: white;
    padding: 10px;
  }

  /* rgb(94, 94, 94); */