
body {
  margin: 0;
  padding: 0;
  
}

code{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu{
   background-color: #080808; 
 
}

.navbar-nav li a{
  font-size: 20px;
  color: #2756a5;
}

.navbar-nav li a:hover{
  font-size: 20px;
  color: rgb(8, 8, 8);
}

.navbar-nav li a:active{
  color: rgb(255, 255, 255);
}

.navbar-brand{
  letter-spacing: 2px;
}

.card{
  transition: all 0.5s ease;
}

.card:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5)
}

.carousel-control-prev1,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev1
 {
    transition: none;
  }
}

.carousel-control-prev1:hover, .carousel-control-prev1:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.titulo{
  font-size: 140px;
  align-items: center;
  margin: 0;
  padding: 0;
}
.titulo2{
  font-size:170px;
  text-align: center;
  align-items: center;
  color: #fff;
  margin: 0;
  padding: 0;
}

.parrafo{
  text-align: center;
  align-items: center;
  font-size: 20px;
  color: #ffffff;
 
}

.subtitulo{
  font-size:120px;
  color: #1353db;
  margin: 0;
  padding: 0;
}
.fondo{
  background-image:  url("../public/assets/img/slide2.png");
  height: 80vh;
  width: 100%;
}

.fondo-slide1{
  background-color: #eceaea;
  height: 85vh;
  width: 100%;
}

.footer{
  background-color: #1353db;
}


hr{
 position: relative;
 color: #1353db;
 top: 1px;
 border: 1px;
 background: #090909;
 margin-bottom: 30px;
 width: 40em;
 height: 5px;
}