@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Dancing+Script:wght@400;500;600;700&family=Fascinate&family=Great+Vibes&family=Lobster&family=Oleo+Script:wght@400;700&family=Pacifico&family=Parisienne&family=Playball&family=Roboto:ital,wght@0,100;0,300;0,700;1,400;1,900&family=Smooch&family=The+Nautigal:wght@400;700&family=Titan+One&family=Yellowtail&display=swap');

#root{
  max-width: 100%;
  padding: 0px;
  text-align: left;
  align-items: left;
}

body {
  margin: 0;
  padding: 0;  
}

code{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu{
   background-color: #080808; 
 
}

.navbar-nav li a{
  font-size: 20px;
  color: #2756a5;
}

.navbar-nav li a:hover{
  font-size: 20px;
  color: rgb(8, 8, 8);
}

.navbar-nav li a:active{
  color: rgb(255, 255, 255);
}

.navbar-brand{
  letter-spacing: 2px;
}
/* 
 .card{
  transition: all 0.3s ease;
}

.card:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5)
}  */

.carousel-control-prev1,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev1
 {
    transition: none;
  }
}

.carousel-control-prev1:hover, .carousel-control-prev1:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.titulo{
  font-size: 100px;
  align-items:left;
  margin: 0;
  padding: 0;
}
.titulo2{
  font-size:170px;
  text-align: left;
  align-items: left;
  color: #fff;
  margin: 0;
  padding: 0;
}

.parrafo{
  text-align: left;
  align-items: left;
  font-size: 20px;
  color: #ffffff;
 
}

.subtitulo{
  font-size:120px;
  color: #1353db;
  margin: 0;
  padding: 0;
}
.fondo{
  background-image: linear-gradient(to top, rgba(3, 17, 22, 0.363) 0%, rgba(237, 244, 235, 0.168) 100%),url("../public/assets/img/slide-01.jpg");
  /* background-image: url("../public/assets/img/slide-01.jpg"); */
  background-color: #2756a5;
  background-size: cover; /* Ajuste para cubrir todo el contenedor */
  background-position: center; /* Ajuste para centrar la imagen */
  height: 100%;
  width: 100%;
}

.fondo_editar{
  background-color: #2755a560;
  border-radius: 6px;
  color: rgb(3, 3, 3);
  background-size: cover; /* Ajuste para cubrir todo el contenedor */
  background-position: center; /* Ajuste para centrar la imagen */
  height: 70%;
  width: 100%;
}

 .fondo1{
  background-image: linear-gradient(to top, rgba(3, 17, 22, 0.363) 0%, rgba(241, 231, 231, 0.368) 100%),url("../public/assets/img/slide-02.jpg");
  /* background-image:  url("../public/assets/img/slide-02.jpg"); */
  background-size: cover; /* Ajuste para cubrir todo el contenedor */
  background-position: center; /* Ajuste para centrar la imagen */
  height: 100%;
  width: 100%;

} 

.fondo2{
  background-image: linear-gradient(to top, rgba(3, 17, 22, 0.363) 0%, rgba(11, 11, 11, 0.238) 100%),url("../public/assets/img/slide-03.jpg");
  /* background-image:  url("../public/assets/img/slide-03.jpg"); */
  background-size: cover; /* Ajuste para cubrir todo el contenedor */
  background-position: center; /* Ajuste para centrar la imagen */
  height: 100%;
  width: 100%;

} 

.fondo-slide1{
  background-color: #040404;
  height: 100vh;
  width: 100%;
} 

.emptyCart{
  height: 30vh;
 
}



@media (max-width: 768px) {
  .fondo-slide1{
    background-color: #040404;
    height: 30vh;
    width: 100%;
  } 

  .emptyCart{
    height: 43vh;
   
  }

  .footer{
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}


.footer{
  background-color: #1c4a98;
}


hr{
 position: relative;
 color: #1353db;
 top: 1px;
 border: 1px;
 background: #090909;
 margin-bottom: 30px;
 width: 40em;
 height: 5px;
}

.blanco{
  color: #fff;
}
.blanco1{
  color: #000000;
}
.negro{
  color: #000000;
}
.azul{
  color: #1d38cf;
}
.amarillo{
  color: #f8ef47;
}
.verde{
  color: #49df17;
}
.rojo{
  color: #f00a0a;
}
.rosado{
  color: #f016a7;
}
.gris{
  color: #aaaaaa;
}

.colorsec{
  background-color: #e0dcdc;
}

.izquierda{
  background-color: #ecf2f9;
  font-size: 10px !important;
}

.Sidebar{
  width: 14rem;
  height: calc(100vh-52px);
  /* border-right: 1px solid $gray; */
  ul{
     list-style: none;
     padding: 0rem 0rem;
    li{
      margin-bottom: 1 rem;
   
    }
    
  } 
}


.flex{
  display: flex;
}
