 .container-login{
    background-color: rgba(94, 93, 94, 0.221);
    margin: 0px;
    padding: 0px;
} 

.form-login{
    width: 100%;
    text-align: center;
    justify-content: center;

}

.login-img{
    width: 80%;
    height: 90%;
}