.searchBox {
    background-color: rgba(239, 239, 239, 0.97);
    border-radius: 5px;
    /* border: 0.05rem solid #595559; */
    /* padding: 2px 5px 2px 5px; */
    text-decoration: none;
    /* margin: 5px; */
}

.searchButton {
   appearance: none;
   border: none;
   background: none;
   cursor: pointer;

}

.searchButton:hover {
    background-color:#1c4a98;
    border-radius:5px; 
    color: #f6f1f1;
    border: 15px;
    cursor: pointer;
    /* box-shadow: 0 0 5px #bdbeba; */
}