.review{
    border: 0.05rem solid rgb(205, 205, 205);
    border-radius: 5px;
    margin-top: 10px;
}

.p{
    padding: 5px 5px 5px 5px;
    margin-left: 7px;
}

.starDiv{
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: -40px;
}

.editReview{
    margin-left: 590px;
}
.editReviewDisabled{
    margin-left: 590px;
    color: rgb(189, 189, 189);
}